<div class="modal">
    <div class="modal__container is-lesson" data-target="lesson">
        <div class="modal__wrapper">
            <div class="modal__close modal-close">
                <svg width='24' height='24'>
                    <use href='img/sprite/sprite.svg#icon-close'></use>
                </svg>
            </div>
            
            <div class="modal__lesson">
                <div class="modal__lesson-image">
                    <img width='560' height='300' src='img/modal-image.webp' alt=''>
                </div>

                <form class="modal__form modal-form">
                    <div class="modal-form__labels">
                        <label class="modal-form__label">
                            <span>Ім’я</span>
                            <input class="modal-form__input" type="text" name="name" placeholder="Ім’я Прізвище">
                        </label>
                        <label class="modal-form__label">
                            <span>Телефон у форматі 380:</span>
                            <input class="modal-form__input" type="tel" name="tel" placeholder="380">
                        </label>
                        <label class="modal-form__label">
                            <span>Вік дитини</span>
                            <input class="modal-form__input" type="text" name="name" placeholder="Вік дитини">
                        </label>
                    </div>

                    <button class="modal-form__btn btn btn--yellow">Надіслати</button>

                    <p class="modal-form__text">Натискаючи, ви погоджуєтесь із <a href="#">Політикою конфіденційності</a></p>
                </form>
            </div>
        </div>
    </div>

    <div class="modal__container is-camps" data-target="camps">
        <div class="modal__wrapper">
            <div class="modal__camps">
                <div class="modal__camps-top">
                    <div class="modal__camps-title h4">Оберіть зміну</div>

                    <div class="modal__close modal-close">
                        <svg width='24' height='24'>
                            <use href='img/sprite/sprite.svg#icon-close'></use>
                        </svg>
                    </div>
                </div>

                <ul class="modal__camps-items">
                    <li class="modal__camps-item">
                        <div class="modal__camps-image">
                            <picture>
                                <source type='image/webp' srcset='img/.webp'>
                                <img width='100' height='100' src='img/' alt=''>
                            </picture>
                        </div>

                        <div class="modal__camps-dates">
                            27.06 - 06.07
                        </div>

                        <div class="modal__camps-info">
                            <span>Фестиваль професій</span>
                            <p>Це справжні пригоди, у які поринають всі мешканці табору на весь термін путівки.</p>
                        </div>

                        <a class="modal__camps-link btn btn--violet" href="/camp.html">Дізнатись більше</a>
                    </li>

                    <li class="modal__camps-item">
                        <div class="modal__camps-image">
                            <picture>
                                <source type='image/webp' srcset='img/.webp'>
                                <img width='100' height='100' src='img/' alt=''>
                            </picture>
                        </div>

                        <div class="modal__camps-dates">
                            27.06 - 06.07
                        </div>

                        <div class="modal__camps-info">
                            <span>Фестиваль професій</span>
                            <p>Це справжні пригоди, у які поринають всі мешканці табору на весь термін путівки.</p>
                        </div>

                        <a class="modal__camps-link btn btn--violet" href="/camp.html">Дізнатись більше</a>
                    </li>

                    <li class="modal__camps-item">
                        <div class="modal__camps-image">
                            <picture>
                                <source type='image/webp' srcset='img/.webp'>
                                <img width='100' height='100' src='img/' alt=''>
                            </picture>
                        </div>

                        <div class="modal__camps-dates">
                            27.06 - 06.07
                        </div>

                        <div class="modal__camps-info">
                            <span>Фестиваль професій</span>
                            <p>Це справжні пригоди, у які поринають всі мешканці табору на весь термін путівки.</p>
                        </div>

                        <a class="modal__camps-link btn btn--violet" href="/camp.html">Дізнатись більше</a>
                    </li>

                    <li class="modal__camps-item">
                        <div class="modal__camps-image">
                            <picture>
                                <source type='image/webp' srcset='img/.webp'>
                                <img width='100' height='100' src='img/' alt=''>
                            </picture>
                        </div>

                        <div class="modal__camps-dates">
                            27.06 - 06.07
                        </div>

                        <div class="modal__camps-info">
                            <span>Фестиваль професій</span>
                            <p>Це справжні пригоди, у які поринають всі мешканці табору на весь термін путівки.</p>
                        </div>

                        <a class="modal__camps-link btn btn--violet" href="/camp.html">Дізнатись більше</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
