.modal-form {
    padding: clamp(20px, 5.859vw, 45px) clamp(20px, 5.208vw, 40px);
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 2.083vw, 30px);

    &__labels {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & > span {
            font-size: 20px;
            line-height: 140%;
            font-weight: 400;
            color: var(--black);
        }
    }

    &__input {
        height: clamp(44px, 3.611vw, 52px);
        display: flex;
        align-items: center;
        padding: 0 16px;
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        font-family: var(--font-primary);
        font-size: 14px;
        line-height: 140%;
        font-weight: 400;
        color: var(--black);
    }

    &__text {
        font-size: 12px;
        line-height: 140%;
        font-weight: 500;
        letter-spacing: -0.6px;
        text-align: center;

        a {
            display: inline;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
            word-break: keep-all;
        }
    }
}