@import "../../general/mixins";

.courses-section {
    padding: clamp(20px, 4.167vw, 80px) 0;

    &__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(40px, 7.813vw, 80px);
    }

    &__title {
        max-width: 754px;
        width: 100%;
        text-align: center;
    }

    &__items {
        width: 100%;
        display: grid;
        gap: 30px 20px;

        @include for-laptop {
            grid-template-columns: repeat(4, 1fr);
        }

        @include laptop {
            @include for-small-tablet {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @include small-tablet {
            grid-template-columns: 100%;
        }
    }

    &__item {
        min-height: clamp(300px, 59.375vw, 456px);
        position: relative;
        padding: clamp(20px, 4.167vw, 32px);
        background-color: var(--violet-100);
        border-radius: clamp(20px, 5.208vw, 40px);

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;

        &-media {
            border-radius: clamp(20px, 5.208vw, 40px);
            position: absolute;
            inset: 0;
            overflow: hidden;
            display: flex;
        }

        &-bg {
            display: flex;
            position: absolute;
            inset: 0;
        }

        &-image {
            display: flex;
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            bottom: -10px;

            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: scale(1.1);

                @include small-tablet {
                    transform: scale(1.3);
                }
            }
        }

        &-ages {
            width: max-content;
            position: absolute;
            padding: clamp(7px, 0.521vw, 10px) clamp(13px, 1.042vw, 20px);
            border: clamp(4px, 0.417vw, 8px) solid var(--white);
            background-color: var(--green);
            border-radius: 65px;
            font-size: clamp(18px, 1.875vw, 36px);
            line-height: 118%;
            font-weight: 700;
            letter-spacing: -1.8px;
            color: var(--white);

            @include for-small-tablet {
                top: calc(-1 * clamp(33px, 2.604vw, 50px));
                left: 50%;
                transform: rotate(-6deg) translateX(-50%);
            }

            @include small-tablet {
                top: 30px;
                left: 20px;
                transform: rotate(-6deg);
            }
        }

        &-link {
            position: relative;
            z-index: 1;
            
        }
    }
}