.star-ratings {
    &__body {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    svg {
        fill: transparent;
        stroke: var(--cl-c);
        transition: all 0.3s ease;
        cursor: pointer;

        &.active {
            fill: var(--cl-c);
        }
    }
}